
@import url(https://fonts.google.com/specimen/Figtree);


*{
    margin: 0;
    padding: 0;
   
}

body{
    display: flex;
    background-color: hsl(47, 88%, 63%);
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

.container{
    border: 2px solid hsl(0, 0%, 7%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px  5px;
    align-items: center;

}

.container figure  img {
    margin: 20px;
    border-radius: 10px;

}


.container button {
    background-color: hsl(47, 88%, 63%);
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-left: 1.4rem;
}

.container p {
    color: hsl(0, 0%, 50%);
    padding: 1rem;
    margin-left:5px ;
    max-width: 327px;
}

.container h2{
    color:hsl(0, 0%, 7%) ;
    font-weight: bold;
    font-size: 800;
    margin-left: 1.4rem;
    padding:5px 5px 5px 0px ;
}

figure{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container figure .img {
    width: 50px;
}



